NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PRICE_ID_MENSUEL_2X=price_xxx
STRIPE_PRICE_ID_MENSUEL_3X=price_xxx
STRIPE_PRICE_ID_MENSUEL_ILLIMITE=price_xxx
